<%= form_tag({:controller => :consult, :action => :index}, {:method => :post}) do |f| %>

    <div class="splitcontent">
      <fieldset class="box tabular">
        <p>
          <label for="nro_chamado"><%= l('label_consultar_chamado') %><span class="required"> *</span></label>
          <%= number_field_tag 'chamado_nro', if !@task.nil? then @task['id'] end, required: true, min: 0, size: 40 %>
          <%= button_tag l('btn_consultar_chamado'), :class => 'btn btn-primary' %>
          <%= button_tag l('btn_task_import'), :id => 'btn_task_import', :disabled => true, :class => 'btn btn-success' %>
        </p>
      </fieldset>
    </div>

    <% if !@task.nil? %>
        <%= render :partial => 'show' %>
    <% end %>

<% end %>