<h2><%= l('h2_configuration') %></h2>

<div class="box tabular">
  <p>
      <label for="hostname"><%= l('label_hostname') %>:</label>
      <%= text_field_tag 'settings[hostname]', @settings['hostname'], placeholder: l('placeholder_hostname') %></p>

  <p>
    <label for="service_prefix"><%= l('label_service_prefix') %>:</label>
    <%= text_field_tag 'settings[service_prefix]', @settings['service_prefix'], placeholder: l('placeholder_service_prefix') %></p>

  <hr />
  <p>
    <label for="action_info_service"><%= l('label_action_info_service') %>:</label>
    <%= text_field_tag 'settings[action_info_service]', @settings['action_info_service'], placeholder: l('placeholder_action_info_service') %></p>

  <p>
    <label for="action_task_consult"><%= l('label_action_task_consult') %>:</label>
    <%= text_field_tag 'settings[action_task_consult]', @settings['action_task_consult'], placeholder: l('placeholder_action_task_consult') %></p>
 </div>